@use '../../sass/' as *;

.notFound {
    font-size: ($base-rem-length * 25);
    grid-column: 2;
    color: var(--textSecondaryColor);
}

.noResults {
  grid-column: 2 / 3;
  margin-top: calc(50% - 8rem);
  margin-right: 10vw;    
}

.loader {
  position: absolute;
  bottom: $base-rem-length * 10;
}